<div class="fixed top-0 z-50 w-full pt-6 transform -translate-x-1/2 sm:w-max left-1/2 sm:h-16">
  <div class="flex justify-center flex-1">
    <div class="w-full px-12 sm:hidden">
      <div class="mx-auto w-max" (click)="toggleMenu()">
        <button class="flex items-center px-4 py-2 text-sm font-medium rounded-full shadow-lg group shadow-zinc-800/5 ring-1 backdrop-blur bg-zinc-800/80 text-zinc-200 ring-white/10 hover:ring-white/20" aria-expanded="false">
          Menu 
          <svg viewBox="0 0 8 6" aria-hidden="true" class="w-2 h-auto ml-3 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
            <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
      <div
        [ngClass]="{
          'pointer-events-none': !menuOpen,
          'pointer-events-auto': menuOpen
        }"
        class="transition-all duration-300"
      >
        <div
          [ngClass]="{
            'opacity-0': !menuOpen,
            'opacity-100': menuOpen
          }"
          (click)="toggleMenu(false)"
          class="transition-all duration-300 opacity-100"
          class="fixed inset-0 z-50 w-full h-screen bg-zinc-900/80 backdrop-blur-sm" aria-hidden="true"
        ></div>
        <div
          [ngClass]="{
            'opacity-0 top-4 scale-95': !menuOpen,
            'opacity-100 top-8 scale-100': menuOpen
          }"
          class="fixed z-50 p-8 transition-all duration-300 origin-top scale-100 opacity-100 inset-x-4 top-8 rounded-3xl ring-1 bg-zinc-900 ring-zinc-800"
          tabindex="-1"
        >
          <div (click)="toggleMenu(false)" class="flex flex-row-reverse items-center justify-between">
            <button aria-label="Close menu" class="p-1 -m-1" type="button" tabindex="0">
              <svg viewBox="0 0 24 24" aria-hidden="true" class="w-6 h-6 text-zinc-400">
                <path d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <h3 class="text-sm font-medium text-zinc-400">Menu</h3>
          </div>
          <nav class="mt-6">
            <ul class="-my-2 text-base divide-y divide-zinc-100/5 text-zinc-300">
              <li *ngFor="let item of navigation">
                <a
                  [routerLink]="item.url"
                  [routerLinkActive]="'text-indigo-500'"
                  [routerLinkActiveOptions]="{ exact : true }"
                  (click)="toggleMenu(false)"
                  class="block py-2"
                >{{ item.name }}</a>
              </li>
              <li *ngIf="isUserAdmin$">
                <a
                  routerLink="/admin"
                  (click)="toggleMenu(false)"
                  class="flex flex-row items-center py-2"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                  </svg>
                  Admin Panel
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <nav class="hidden pointer-events-auto sm:flex sm:flex-row">
      <ul class="flex px-3 text-sm font-medium rounded-full shadow-lg bg-white/80 text-zinc-800 shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur">
        <li *ngFor="let item of navigation">
          <a
            [routerLink]="item.url"
            [routerLinkActive]="'text-indigo-500'"
            [routerLinkActiveOptions]="{ exact : true }"
            class="relative block px-3 py-2 transition duration-300 cursor-pointer hover:text-indigo-500"
          >{{ item.name }}</a>
        </li>
      </ul>
      <div *ngIf="isUserAdmin$ | async" routerLink="admin" class="flex items-center justify-center px-2 ml-2 font-medium text-indigo-500 transition-all duration-300 rounded-full shadow-lg cursor-pointer bg-white/80 backdrop-blur hover:bg-indigo-500/80 hover:text-white shadow-zinc-800/5 ring-1 ring-zinc-900/5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
        </svg>
      </div>
    </nav>
  </div>
</div>