<div class="flex flex-col md:flex-row" #scrollHere>

  <div class="flex-1 hidden md:block md:max-w-xs">
    
  </div>

  <div class="flex flex-col flex-1 md:flex-row">
    <div class="flex-shrink w-full mb-4 md:max-w-sm">
      <div class="relative rounded-md shadow-2xl">
        <input
          type="text"
          name="account-number"
          placeholder="Cerca un corso..."
          [formControl]="searchBar"
          class="block w-full pr-10 rounded-md border-zin-800 bg-zinc-800 placeholder-zinc-400 text-zinc-200 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        >
        <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>          
        </div>
      </div>
    </div>
    <p *ngIf="courseLoaded" class="flex-shrink-0 hidden ml-4 text-sm text-zinc-500 md:block">Ho trovato {{ filteredCourses.length }} {{ filteredCourses.length === 1 ? 'corso' : 'corsi' }}</p>
  </div>

</div>
<div class="flex flex-col mb-20 md:flex-row">

  <div class="relative flex-1 md:max-w-xs">
    <div class="block mb-6 md:hidden">
      <div (click)="filtersPopupOpen = !filtersPopupOpen" class="flex flex-row items-center justify-between px-3 py-2 border border-indigo-500 rounded-md bg-zinc-800">
        <p class="m-0 text-sm text-zinc-100">{{ filtersPopupOpen ? 'Nascondi' : 'Mostra' }} i filtri</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          [ngClass]="{
            'rotate-0': !filtersPopupOpen,
            'rotate-180': filtersPopupOpen
          }"
          class="w-4 h-4 ml-2 transition-all duration-300 text-zinc-100"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>        
      </div>
    </div>
    <div
			class="absolute left-0 z-40 block w-full px-4 py-4 pb-6 transition-all duration-300 rounded-md shadow-2xl sm:hidden top-14 bg-zinc-800/95 backdrop-blur"
      [ngClass]="{
        'opacity-0 top-0 pointer-events-none': !filtersPopupOpen,
        'opacity-100 top-14 pointer-events-auto': filtersPopupOpen
      }"
    >
      <app-filters id="mobile" (filters)="filterSidebar($event)" (clear)="clearFilters()"></app-filters>
    </div>
    <div
			class="hidden sm:block"
    >
      <app-filters id="desktop" (filters)="filterSidebar($event)" (clear)="clearFilters()"></app-filters>
    </div>
  </div>

  <div class="relative flex-1 overflow-hidden">
		<div
			[ngClass]="{
				'opacity-100': isFiltering,
				'opacity-0': !isFiltering
			}"
			class="absolute inset-0 z-20 flex justify-center transition-all duration-300 rounded-md pointer-events-none select-none pt-28 bg-zinc-900/30 backdrop-blur-sm"
		>
			<svg
				
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				class="w-10 h-10 duration-300 atransition-all"
				style="shape-rendering: auto;"
				viewBox="0 0 100 100"
				preserveAspectRatio="xMidYMid"
			>
				<circle cx="50" cy="50" fill="none" class="stroke-white/70" stroke-width="10" r="42" stroke-dasharray="197.92033717615698 67.97344572538566">
					<animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
				</circle>
			</svg>
		</div>

    <div *ngIf="!courseLoaded" class="relative z-10 grid flex-1 grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <ng-container *ngFor="let course of fakeCourses">
        <app-course-card [course]="course"></app-course-card>
      </ng-container>
    </div>
    <ng-container *ngIf="courseLoaded">
      <ng-container *ngIf="filteredCourses.length > 0; else noResults;">
        <div class="relative z-10 grid flex-1 grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
          <ng-container *ngFor="let course of filteredCourses | paginate: page : itemsPerPage; let i = index; trackBy: trackBy">
            <ng-container *ngIf="!isMobile || i < (mobileCourseCount)">
              <app-course-card [course]="course"></app-course-card>
            </ng-container>
          </ng-container>
        </div>
        <app-pagination
          *ngIf="!isMobile"
          [currentPage]="page"
          [itemsCount]="filteredCourses.length"
          [itemsPerPage]="itemsPerPage"
          (changePage)="changePage($event, scrollHere)"
        ></app-pagination>
      </ng-container>
      <ng-template #noResults>
        <div class="relative z-10 max-w-full mt-8 md:mx-auto md:w-max">
          <div class="max-w-full md:max-w-sm">
            <span class="block mx-auto w-max" style="font-size: 5rem;">😅</span>
            <h3 class="text-center" *ngIf="!searchBar.value; else withSearch">OPS...</h3>
            <ng-template #withSearch>
              <h3 class="max-w-full text-center">Zero risultati con la parola "<b>{{ searchBar.value }}</b>"</h3>
            </ng-template>
            <p class="text-center">Non troviamo nessun corso con questi filtri, prova a cambiarli.</p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>

</div>