<div class="relative z-0">
  <app-navbar *ngIf="!isAdminArea"></app-navbar>

  <div class="relative pb-16 sm:pb-24">
    <main class="relative w-full bg-zinc-900">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer *ngIf="!isAdminArea"></app-footer>
</div>
<div
	*ngIf="($loader | async) as showLoader; else undefinedLoader"
  [ngClass]="{
    'pointer-events-none opacity-0 duration-300': !(showLoader.show),
    'pointer-events-auto opacity-100 duration-0': (showLoader.show)
  }"
  class="z-[100] transition-all"
>
  <div class="fixed inset-0 bg-zinc-900">
    <img
      src="assets/logo/lungabros_light.svg"
      class="absolute z-30 object-cover w-64 max-w-full px-6 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 animate-pulse"
      alt=""
    />
  </div>
</div>
<ng-template #undefinedLoader>
	<div class="z-[100] pointer-events-auto opacity-100 transition-all duration-300">
		<div class="fixed inset-0 bg-zinc-900">
			<img
				src="assets/logo/lungabros_light.svg"
				class="absolute z-30 object-cover w-64 max-w-full px-6 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 animate-pulse"
				alt=""
			/>
		</div>
	</div>
</ng-template>
