<div class="relative w-full mt-24 group h-72 sm:mt-32 md:h-96">
  <div
    class="absolute top-0 left-0 w-full h-full overflow-hidden transition-all duration-300 scale-95 rotate-0 border-4 shadow-2xl rounded-xl border-amber-500 group-hover:-rotate-1 group-hover:scale-100 md:-rotate-1 xl:scale-105 xl:group-hover:scale-110 2xl:scale-125 2xl:group-hover:scale-125"
  >
    <img
      ixImg
      loading="lazy"
      path="stock/Stock-10.jpeg"
      class="z-10 object-cover object-center w-full h-full"
      alt=""
    />
    <div
      class="absolute top-0 left-0 z-20 w-full h-full bg-gradient-to-t from-indigo-800 to-indigo-800/80 backdrop-blur"
    ></div>
    <img
      ixImg
      loading="lazy"
      path="gallery/pietro_overlay-min.png"
      alt=""
      class="absolute bottom-0 left-0 z-30 hidden w-auto transition-all duration-300 h-80 group-hover:scale-105 md:block"
    />
    <img
      ixImg
      loading="lazy"
      path="gallery/samuele_overlay-min.png"
      alt=""
      class="absolute bottom-0 right-0 z-30 hidden w-auto transition-all duration-300 h-80 group-hover:scale-105 md:block"
    />

    <div
      class="absolute z-40 w-full max-w-md transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    >
      <div class="px-6 md:px-0">
        <h2 class="text-3xl sm:text-4xl lg:text-5xl">
          Inizia il tuo nuovo corso e immergiti con noi 😜
        </h2>
        <button
          routerLink="/contact"
          class="flex flex-row items-center px-4 py-2 mt-4 text-indigo-500 transition-all duration-200 bg-white rounded-md shadow-2xl cursor-pointer group ring-0 ring-indigo-300 ring-offset-0 ring-offset-indigo-500 group-hover:ring group-hover:ring-offset-2"
        >
          Contattaci ora
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 -ml-4 transition-all duration-300 opacity-0 group-hover:ml-2 group-hover:opacity-100"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
