<div class="md:pr-12">
  
  <div class="flex flex-row justify-between border-b border-zinc-800">
    <h3>Filtra i risultati</h3>
    <a (click)="clearFilters()" class="mt-1 text-indigo-500 transition-all duration-300 cursor-pointer hover:text-indigo-400">cancella</a>
  </div>
  
  <form [formGroup]="form" class="mt-4">
    <div class="mt-4">
      <p class="text-xl text-zinc-300">Tipo di corsi:</p>
      <fieldset class="space-y-5">
        <legend class="sr-only">Tipo di corsi</legend>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="kids" id="{{id}}-kids" name="kids" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-kids">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">Kids (8-9 anni)</p>
            </label>
          </div>
        </div>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="junior" id="{{id}}-junior" name="junior" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-junior">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">Junior (+10 anni)</p>
            </label>
          </div>
        </div>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="experience" id="{{id}}-experience" name="experience" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-experience">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">Esperienze</p>
            </label>
          </div>
        </div>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="main" id="{{id}}-main" name="main" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-main">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">Principali</p>
            </label>
          </div>
        </div>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="specialty" id="{{id}}-specialty" name="specialty" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-specialty">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">Specialità</p>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="mt-6">
      <p class="text-xl text-zinc-300">Immersioni / Secco:</p>
      <fieldset class="space-y-5">
        <legend class="sr-only">Tipo di corsi</legend>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="withDives" id="{{id}}-withDives" name="withDives" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-withDives">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">Con immersioni</p>
            </label>
          </div>
        </div>
        <div class="relative flex items-center">
          <div class="flex items-center h-5 cursor-pointer">
            <input formControlName="dry" id="{{id}}-dry" name="dry" type="checkbox" class="w-4 h-4 text-indigo-500 rounded border-zinc-700 bg-zinc-800 focus:ring-offset-zinc-900 focus:ring-indigo-400">
          </div>
          <div class="ml-3 text-sm">
            <label for="{{id}}-dry">
              <p class="m-0 transition-all duration-300 cursor-pointer select-none text-zinc-300 hover:text-zinc-50">A secco</p>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>

</div>
